.all-header {
    background-color: #171b24;
}
.serv-own {
    height: 38px;
    background-color: #171b24;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    padding: 5px;
    margin: 0 auto;
    width: 100vh;
}
.serv-own a {
    text-decoration:none;
}
////////////////////////

.btn-secondary {
    background-color: transparent;
    border: none;
    color: rgb(180, 185, 190);
    font-size: 12px;
}
.btn-secondary:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}
.lang .dropdown-menu {
    background-color: rgb(31, 36, 42);
    box-shadow: 0 0 20px 0px black;
}
.lang .dropdown-menu li a {
    color: rgb(180, 185, 190);
    font-size: 13px;
}
.lang .dropdown-menu li a:hover {
    color: #fff;
    background-color: rgb(31, 36, 42);
}
//////////////////////////
.install-btn {
    background-color: #5c7e10;
    padding: 2px 8px;
    margin: auto 10px;
    cursor: pointer;
}
.install-btn a {
    color: #dce2e9;
}
.install-btn a #download {
    font-size: 19px;
    color: #fff;
    margin: -3px 6px;
}
.install-btn:hover a {
    color: #fff;
}

///////////////////////////
.login a {
    color: rgb(180, 185, 190);
}
.login a:hover {
    color: #fff;
}