@media (min-width: 1224px) {
    .serv-show {
        display: block;
        position: absolute;
        left: 17px;
        top: 593px;
        width: 225px;
        transition: width 0.5s;
    }
    // .nav-blue, .featured-recommended,.special-offers,
    // .sign-or, .new-releases,
    // .btns-browse-steam, .popular-vr-games {
    //     padding-left: 280px;
    //     transition: padding 0.25s;
    // }
    .all-content, header, .serv-own, .dobleContent {
        padding-left: 170px;
        transition: padding 0.25s;
    }
}